body{
  background-color: white
}
.header{
  display: flex;
  
}
.header .logo{
  width: 100%;
  text-align: center;
}
.header .time{
  width: 100%;
  text-align: center;
}
.header .logo img{
  width: 100%;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main .tnum{
  margin: 1rem;
  font-size: 30vw;
  font-weight: bold;
  
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
.footer button{
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
}
.bass{
  margin-top: 3rem;
}
.bass img{
  width: 80%;
}